/.user.yml
/.vscode
/logs
/profiles.yml
/target
/dbt_packages
/datasets
/integration_tests/functional_tests/__pycache__
/integration_tests/functional_tests/.pytest_cache
/integration_tests/unit_tests/__pycache__/
integration_tests/package-lock.yml
/.env
